@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 스크롤바 화살표 제거 */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  width: 0;
}
/* Firefox에서의 스크롤바 스타일 */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

html,
body {
  box-sizing: border-box;
}
table,
td,
th {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ql-container {
  font-family: unset !important;
}

.sanitized-parent img {
  max-width: 40dvw;
}

.quill .ql-snow .ql-editor img {
  max-width: 40dvw;
}

.ql-editor .ql-video,
.sanitized-parent .ql-video {
  max-width: 100% !important;
  width: 100%;
  height: 700px;
}

.sanitized-parent .ql-align-left {
  text-align: left;
}

.sanitized-parent .ql-align-center {
  text-align: center;
}

.sanitized-parent .ql-align-right {
  text-align: center;
}
